* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: #333646;
  font-family: Arial;
}

.load {
  background-color: black;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.load .loading {
  width: 70px;
  height: 70px;
  border: 7px solid #ccc;
  border-top-color: royalblue;
  border-radius: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: load 1.4s linear infinite;
          animation: load 1.4s linear infinite;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

input {
  outline: none;
}

.container-fluid {
  width: 75%;
}

.navbar-light {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.navbar-light .navbar-brand img {
  width: 70px;
}

.navbar-light .navbar-toggler {
  color: white !important;
}

.navbar-light .navbar-nav {
  margin-top: 20px;
}

.navbar-light .nav-link {
  margin-left: 20px;
  color: #666874 !important;
  font-size: 30px;
  font-family: Arial;
  font-weight: 600;
}

.navbar-light .nav-link.aktif {
  color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hwhw {
  background-image: url(../img/illustration.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hero {
  padding-bottom: 24px;
}

.hero .row {
  margin-top: -20px;
  padding-bottom: 100px;
  padding-top: 70px;
}

.hero .sosmed {
  margin-top: 100px;
}

.hero .down {
  -webkit-animation: scroll .7s infinite ease alternate;
          animation: scroll .7s infinite ease alternate;
}

.hero .down .scroll {
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.hero h1 {
  font-size: 80px;
  color: white;
  font-weight: 700;
}

.hero h1::after {
  display: block;
  content: '';
  border-bottom: 14px solid royalblue;
  width: 18%;
  margin-top: 20px;
}

.hero h4 {
  color: white;
  font-size: 20px;
  margin-top: 16px;
}

.hero .ssmd {
  margin-left: 60px;
}

.hero h5 {
  color: #9ea2b4;
  font-family: serif;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.hero h2 {
  color: white;
  font-size: 30px;
}

.hero p {
  margin-top: 40px;
  color: #9ea2b4;
}

.hero .btn-story {
  font-family: Arial;
  font-weight: 600;
  color: white;
  border-radius: 0;
  border: 2px solid royalblue;
  -webkit-transition: all ease-in .1s;
  transition: all ease-in .1s;
}

.hero .btn-story:hover {
  background-color: royalblue;
}

.contact {
  background-color: #252734;
  padding-top: 100px;
  padding-bottom: 260px;
  margin-top: -7px;
}

.contact .row .kiri h4 {
  color: #9ea2b4;
  font-size: 16px;
  letter-spacing: 3px;
}

.contact .row .kiri h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
}

.contact .row .kiri p {
  color: #9ea2b4;
}

.contact .row .kiri h6 {
  color: royalblue;
  font-size: 20px;
  display: inline-block;
  border-bottom: 2px solid royalblue;
  margin-top: 60px;
}

.contact .row .kiri h3 {
  color: royalblue;
  font-size: 20px;
  display: inline-block;
}

.contact .row .kanan h2 {
  color: white;
  margin-bottom: 40px;
}

.contact .row .kanan p {
  color: #9ea2b4;
}

.contact .row .kanan h1 {
  font-size: 60px;
  color: royalblue;
}

.contact .row .kanan h5 {
  color: white;
  font-size: 16px;
}

.panel .row {
  margin-top: -160px;
}

.panel .card {
  background-color: #424657;
  color: white;
  padding-bottom: 20px;
  padding-top: 260px;
  margin-bottom: 20px;
}

.panel .card h2 {
  margin-bottom: 20px;
  margin-right: 20px;
}

.panel .card.active {
  background-color: royalblue;
}

.brand .row {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.portfolio {
  padding-bottom: 70px;
}

.portfolio .kanan {
  margin-top: 100px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.portfolio .kanan h4 {
  color: #9ea2b4;
  font-size: 16px;
  letter-spacing: 3px;
}

.portfolio .kanan h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
}

.portfolio .kanan p {
  color: #9ea2b4;
}

.portfolio .kanan .btn-explore-more {
  background-color: royalblue;
  color: white;
  font-family: Arial;
  font-weight: 600;
}

.portfolio .kanan h3 {
  color: royalblue;
  font-size: 20px;
}

.portfolio .kanan .figure3 {
  -webkit-box-shadow: 0 5px 7px black;
          box-shadow: 0 5px 7px black;
  background-color: #252734;
  margin-top: 100px;
}

.portfolio .kanan .figure3 .first-title {
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.portfolio .kanan .figure3 .two-title {
  font-weight: 600;
  color: white;
}

.portfolio .kanan .figure3 .figure-caption {
  padding: 50px 20px 20px 30px;
  margin-bottom: -100px;
}

.portfolio .kiri {
  margin-top: 48px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.portfolio .kiri .figure-caption {
  padding: 50px 20px 40px 30px;
  margin-bottom: -120px;
}

.portfolio .kiri .figure1 {
  -webkit-box-shadow: 0 5px 7px black;
          box-shadow: 0 5px 7px black;
  background-color: #252734;
  margin-top: 100px;
}

.portfolio .kiri .figure1 .first-title {
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.portfolio .kiri .figure1 .two-title {
  font-weight: 600;
  color: white;
}

.portfolio .kiri .figure2 {
  -webkit-box-shadow: 0 5px 7px black;
          box-shadow: 0 5px 7px black;
  background-color: #252734;
  margin-top: 70px;
}

.portfolio .kiri .figure2 .first-title {
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.portfolio .kiri .figure2 .two-title {
  font-weight: 600;
  color: white;
}

.blog {
  background-color: #252734;
  padding-top: 50px;
  padding-bottom: 70px;
}

.blog .bloging {
  border-bottom: 1px solid #3F414D;
  padding-top: 40px;
  padding-bottom: 14px;
}

.blog h4 {
  color: #9ea2b4;
  font-size: 16px;
  letter-spacing: 3px;
}

.blog h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
}

.blog p {
  color: #9ea2b4;
}

.blog h3 {
  color: royalblue;
  display: inline-block;
  font-size: 20px;
  padding: 4px 6px;
  background-color: white;
  height: 4px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.blog h3:hover {
  background-color: white;
  height: 28px;
}

.blog h5 {
  color: white;
}

.testimonial {
  background-color: #252734;
  padding: 100px 0;
}

.testimonial h1 {
  color: #424657;
}

.testimonial h2 {
  color: white;
}

.testimonial h3 {
  margin-top: 70px;
  color: white;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 50px;
}

.testimonial h3 span {
  font-size: 14px;
  font-weight: 300;
}

.project {
  background-color: #333646;
  padding: 70px 0;
}

.project h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
}

.project p {
  color: #9ea2b4;
}

.project h5 {
  color: white;
}

.project input.text {
  background-color: #333646;
  border: none;
  border-bottom: 1px solid #9ea2b4;
  width: 100%;
  color: white;
}

.project .btn-subscribe {
  background-color: royalblue;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px #111111;
          box-shadow: 0 2px 3px #111111;
  position: relative;
}

.project .btn-subscribe:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 2px;
}

.project h4 {
  color: white;
}

.project .btn-explore-more {
  background-color: royalblue;
  color: white;
  font-family: Arial;
  font-weight: 600;
  margin-top: 20px;
}

.footer {
  background-color: #252734;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.section-profile .profile-header {
  background-color: royalblue;
}

.section-profile .profile-header .img-profile {
  width: 35%;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 3px #333646;
          box-shadow: 0 3px 3px #333646;
}

.section-profile .profile-header h1 {
  margin-top: 20px;
  font-weight: 700;
  color: #333646;
}

.section-profile .profile-main {
  color: #fff;
  height: 855px;
  overflow: auto;
}

.section-profile .profile-main .kontak {
  margin-bottom: 20px;
}

.section-profile .profile-main .kontak .kntk {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main .kontak .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main .kontak .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main .kontak .fab {
  margin-top: 10px;
  -webkit-box-shadow: 3px 3px #000000;
          box-shadow: 3px 3px #000000;
  color: #333646;
}

.section-profile .profile-main .kemampuan {
  margin-bottom: 20px;
}

.section-profile .profile-main .kemampuan .kemampuans {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main .kemampuan .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main .kemampuan .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main .kemampuan .b5 {
  background-color: #8c00ff;
}

.section-profile .profile-main .hobi {
  margin-bottom: 20px;
}

.section-profile .profile-main .hobi .hoby {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main .hobi .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main .hobi .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main .hobi .hobbi h1 {
  font-size: 70px;
}

.section-profile .profile-main .hobi .hobbi p {
  font-weight: 300;
  font-size: 14px;
}

.section-profile .profile-main .organisasi {
  margin-bottom: 20px;
}

.section-profile .profile-main .organisasi .team {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main .organisasi .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main .organisasi .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main .organisasi p {
  color: royalblue;
  font-weight: 700;
  font-size: 20px;
}

.section-profile .profile-main .organisasi span {
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.section-profile .profile-main .organisasi h6 {
  border: 2px solid white;
  padding: 6px 0;
  cursor: pointer;
}

.section-profile .profile-main .sertifikat {
  margin-bottom: 20px;
}

.section-profile .profile-main .sertifikat .team {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main .sertifikat .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main .sertifikat .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main .sertifikat p {
  color: royalblue;
  font-weight: 700;
  font-size: 20px;
}

.section-profile .profile-main .sertifikat span {
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.section-profile .profile-main .sertifikat h6 {
  border: 2px solid white;
  padding: 6px 0;
  cursor: pointer;
}

.section-profile .profile-main2 {
  color: #fff;
}

.section-profile .profile-main2 .kontak {
  margin-bottom: 20px;
}

.section-profile .profile-main2 .kontak .kntk {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main2 .kontak .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main2 .kontak .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main2 .kontak .fab {
  margin-top: 10px;
  -webkit-box-shadow: 3px 3px #000000;
          box-shadow: 3px 3px #000000;
  color: #333646;
}

.section-profile .profile-main2 .kemampuan {
  margin-bottom: 20px;
}

.section-profile .profile-main2 .kemampuan .kemampuans {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main2 .kemampuan .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main2 .kemampuan .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main2 .kemampuan .b5 {
  background-color: #8c00ff;
}

.section-profile .profile-main2 .hobi {
  margin-bottom: 20px;
}

.section-profile .profile-main2 .hobi .hoby {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main2 .hobi .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main2 .hobi .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main2 .hobi .hobbi h1 {
  font-size: 70px;
}

.section-profile .profile-main2 .hobi .hobbi p {
  font-weight: 300;
  font-size: 14px;
}

.section-profile .profile-main2 .organisasi {
  margin-bottom: 20px;
}

.section-profile .profile-main2 .organisasi .team {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main2 .organisasi .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main2 .organisasi .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main2 .organisasi p {
  color: royalblue;
  font-weight: 700;
  font-size: 20px;
}

.section-profile .profile-main2 .organisasi span {
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.section-profile .profile-main2 .organisasi h6 {
  border: 2px solid white;
  padding: 6px 0;
  cursor: pointer;
}

.section-profile .profile-main2 .sertifikat {
  margin-bottom: 20px;
}

.section-profile .profile-main2 .sertifikat .team {
  border-top: 2px solid royalblue;
  padding-top: 20px;
}

.section-profile .profile-main2 .sertifikat .btn-main {
  border-radius: 0;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  -webkit-box-shadow: -4px 4px 2px black;
          box-shadow: -4px 4px 2px black;
  font-size: 20px;
  position: relative;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  margin-bottom: 26px;
}

.section-profile .profile-main2 .sertifikat .btn-main:active {
  margin-left: -1px;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.section-profile .profile-main2 .sertifikat p {
  color: royalblue;
  font-weight: 700;
  font-size: 20px;
}

.section-profile .profile-main2 .sertifikat span {
  color: white;
  font-weight: 400;
  font-size: 13px;
}

.section-profile .profile-main2 .sertifikat h6 {
  border: 2px solid white;
  padding: 6px 0;
  cursor: pointer;
}

.section-profile .profile-desc {
  width: 90%;
  padding: 20px 0 26px 60px;
}

.section-profile .profile-desc h3 {
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-profile .profile-desc p {
  font-size: 15px;
  color: #333646;
}

.section-profile .pendidikan {
  width: 90%;
  padding: 0 0 30px 60px;
}

.section-profile .pendidikan h3 {
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-profile .pendidikan p {
  font-size: 15px;
  color: #333646;
}

.section-profile .pengalaman {
  width: 90%;
  padding: 0 0 30px 60px;
}

.section-profile .pengalaman h3 {
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-profile .pengalaman p {
  font-size: 15px;
  color: #333646;
}

.section-profile .prestasi {
  width: 90%;
  padding: 0 0 20px 60px;
}

.section-profile .prestasi h3 {
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 2px solid royalblue;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-profile .prestasi p {
  font-size: 15px;
  color: #333646;
}

.section-profile .btn-kembali {
  margin-top: 90px;
  margin-left: 60px;
  background-color: royalblue;
  border-radius: 0;
  color: white;
  font-weight: 600;
}

.section-profile .btn-kembali:hover {
  background-color: #0031c5;
}

@-webkit-keyframes scroll {
  0% {
    margin-top: -40px;
  }
  100% {
    margin-top: -80px;
    margin-bottom: 40px;
  }
}

@keyframes scroll {
  0% {
    margin-top: -40px;
  }
  100% {
    margin-top: -80px;
    margin-bottom: 40px;
  }
}

@-webkit-keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 990px) {
  .container-fluid {
    width: 88%;
  }
  .hwhw {
    background-image: none;
  }
  .portfolio .kiri {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolio .kanan {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: -90px;
  }
  .project h4 {
    margin-top: 20px;
  }
  .hwhw {
    background-attachment: scroll;
  }
  .hero h1 {
    text-align: center;
  }
  .hero h1::after {
    margin: 0 auto;
  }
  .hero h4 {
    margin: auto;
  }
  .hero .intro {
    text-align: center;
  }
  .contact .year {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand .brando {
    margin: 20px 0;
  }
  h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */